* {
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}
nav {
    padding: 25px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
nav .logo {
    float: right;
    width: 200px;
    margin: -60px;
}
#bars {
    display: none;
}
.navButtons {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
}
.navButtons a {
    height: 30px;
}
a {
    transition: .5s;
}
a:hover {
    color: rgb(255, 173, 50);
}
.logo {
    width: 700px;
    margin: 40px calc(50% - 350px);
}
.swiper {
    margin-top: 50px;
}
.swiper-slide img {
    width: 70%;
    z-index: 0 !important;
}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.swiper-button-prev {
    color: black !important;
}
.swiper-button-next {
    color: black !important; 
}
h1 {
    font-size: 30px;
    margin: 0;
}
h2 {
    text-align: center;
    font-size: 40px;
    width: 65%;
    margin: 0px auto;
}
.flex h2 {
    width: auto;
    margin: 50px -50px;
}
h4 {
    color: white;
    width: 150px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    opacity: 0%;
    display: block;
    margin: calc(468px*0.5 - 20px) calc(299px*0.5 - 75px);
    pointer-events: none;
}
h5 {
    text-align: center;
    font-size: 0.9em;
}
p {
    width: 55%;
    margin: 80px auto;
    text-align: left;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}
.offerImgs {
    display: flex;
    width: 65%;
    margin: 0px auto;
    justify-content: space-around;
}
.offerImgs section{
    background-color: black;
    height: 468px;
    margin-bottom: 120px;
}
.offerImgs section:hover img {
    opacity: 20%;
}
.offerImgs section:hover h4{
    opacity: 100%;
}
.offerImgs img {
    transition: .5s;
}
table {
    margin: 100px auto;
    text-align: center;
}
table td, table th {
    padding: 5px 15px;
}
.associations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.associations img {
    opacity: 60%;
    margin: 30px;
    filter: invert(1);
    transition: 800ms;
}
.associations img:hover {
    opacity: 100%;
}
.associationsMain {
    background-color: black;
    display: flex;
}
.associationsMain img{
    width: 120px;
    filter: none;
}
footer {
    align-items: center;
    padding: 20px;
}
@media screen and (max-width: 1100px){
    table {
        display: block;
        overflow-x: scroll;
        margin: 20px auto;
    }
    table td, table th {
        padding: 0 5px;
        font-size: 15px;
    }
    td a {
        font-size: 15px;
    }
    nav {
        margin-bottom: 50px;
    }
    #bars {
        display: block;
        transition: .5s;
        margin: 0 0 10px 0;
    }
    main {
        padding: 0;
    }
    .offerImgs {
        width: 80%;
    }
    .offerImgs section {
        margin-bottom: 60px;
    }
    p {
        margin: 40px auto;
    }
    .navButtons {
        display: none;
        width: 100%;
        text-align: right;
        background-color: white;
        border-radius: 10%;
    }
    .navButtonsMobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        width: 140px;
        right: 35px;
        margin-top: 80px;
    }
    .navButtonsMobile a {
        padding: 5px 10px;
    }
    .rotate {
        transform: rotate(90deg);
    }
    .padding {
        padding: 10px;
    }
    h5 {
        font-size: 15px;
    }
    h5 a {
        font-size: 15px;
    }
}
@media screen and (max-width: 800px){
    h2 {
        font-size: 30px;
        margin-top: 10px;
    }
    p {
        font-size: 16px;
    }
    .offerImgs {
        flex-direction: column;
        align-items: center;
    }
    .offerImgs section {
        margin-bottom: 20px;
        height: 350px;
    }
    .offerImgs section img {
        height: 350px;
    }
}